/* Card */

.card {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin: 150px 30px 0px 30px;
  flex-wrap: wrap;
  height: 75vh;
  overflow-y: scroll;
}

.card__item {
  width: 20vw;
  padding: 0 15px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.card__inner {
  position: relative;
  border-radius: 20px;
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .2s linear;
}

.card__back {
  background: rgb(166,8,255);
  background: linear-gradient(90deg, rgba(166,8,255,1) 21%, rgba(223,57,244,1) 100%);
  opacity: 0.3;
  border-radius: 20px;
  width: 20vw;
  height: 20vw;
  margin-top: -20vw;
  z-index: -1;
}

.card__inner:hover {
  transform: translate3D(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
  opacity: 0.3;
}

.card__img {
  background: linear-gradient(to bottom, #bdbdbd, #ffffff);
  transition: transform .2s linear;
}

  .image {
    display: block;
    height: auto;
    transition: opacity .1s linear;
  }

  .h {
    width: 20vw;
  }

  .w {
    height: 20vw;
  }

.card__text {
  position: absolute;
  width: 100%;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
  transition: opacity .2s linear;
}

.card__inner:hover .card__text {
  opacity: 1;
}

.card__info {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  text-align: center;
}

.user_photo{
  background-color: rgb(223, 181, 181);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.h2 {
  width: 70px;
}

.w2 {
  height: 70px;
}

.card__name {
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 3px;
}

.card__prof {
  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

 /* Buttons */
 .social {
  display: flex;
  justify-content: center;
}

.social__item {
  text-decoration: none;
  background-color: #b68afc;
  color: #3f3a7e;
  padding: 15px;
  border-right: 1px solid #6c7cd3;
  width: 40%;
  height: 30%;
  font-size: 80%;
  line-height: 1;
  transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
  border: none;
}

.social__item:hover {
  background-color: #d881f3;
  color: #fff;
}
